body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    color:purple;   
    font-weight: bold;
    text-align: left;
    background-color: rgb(130, 191, 245);
}
